[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[start]
cmd = "python manage.py collectstatic --noinput && gunicorn beneficiary_system.wsgi:application --bind 0.0.0.0:$PORT --workers 2"